body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: crimson;
    font-family: cursive;
}
.container{
    background-color: lightcoral;
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}
textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:2px solid lightpink;
    padding: 10px;
}
.counter-container{
    display: flex;
 justify-content: space-between;
 padding: 0 5px;
}
.counter-container p{
    font-size: 18px;
    color: rgb(173, 228, 230);
}
.total-character{
    color: rgb(156, 38, 18);
}
.remain-character{
    color:rgb(71, 255, 74) ;
}
